@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ajeitando o body*/
.container{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Outfit';
}

.tela-principal{
    flex:1;
}

/*ajeitando o header */

header#cabecalho{
    padding-left: 5%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    height: 20vh;
    align-items:center;
    justify-content:space-between;   
}
nav#menu-principal h1{
    display: none;
}

nav #btportfolio, #btsobre{
    border: none;
    margin:0 20px 0 20px;
    font-size: 12pt;
    color: rgb(44, 116, 179);
    background: transparent;
    cursor: pointer;
    transition: all .3s; 
}
nav #btportfolio:hover, #btsobre:hover{
    color: rgb(21, 66, 114);
}

#secao-portfolio{
    height: 70vh;
}

iframe#portfolio{
    border: none;
    width: 100%;
    height: 100%;
}


/* Ajeitando a pagina Sobre Mim */

#secao-sobre{
    height: 70vh;
}


iframe#sobre-mim{
    width: 100%;
    height: 100%;
    box-sizing:content-box;
    border: none;
}


footer#rodape{
padding-left: 2em; 
height: 10vh;
}

/* CSS para função do JS */


.desaparecer{
    display: none !important;
}